.card {
  height: 245px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.card:hover .card_name_container::before {
  transform: translateY(0);
}

.card:hover .heart_icon {
  filter: brightness(0) invert(1);
}

.card_image {
  width: 100%;
  height: 185px;
  object-fit: cover;
  flex-shrink: 0;
}

.card_image:hover {
  cursor: pointer;
}

.card_name_container {
  background-color: var(--secondary);
  height: 55px;
  min-height: 49px;
  max-height: 49px;
  border-top: 5px solid var(--tertiary);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 15px;
  gap: 5px;
  clip-path: polygon(
    0 0,
    100% 0,
    100% calc(100% - 13px),
    calc(100% - 13px) 100%,
    0 100%
  );
  position: relative;
  overflow: hidden;
  padding-bottom: 8px;
  flex-shrink: 0;
}

.heart_icon {
  cursor: pointer;
}

.card_name_container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--tertiary);
  transform: translateY(-100%);
  transition: transform 0.3s ease-in-out;
  z-index: 0;
}

.card_name_container > * {
  position: relative;
  z-index: 1;
}

.card_name_container span {
  font-size: 14px;
  font-weight: 300;
  color: var(--primary);
  text-transform: uppercase;
  display: -webkit-box;
  line-clamp: 1;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  word-break: break-word;
}
