.header {
  width: 100%;
  height: 83px;
  background-color: var(--secondary);
  border-bottom: 0.5px solid rgb(56, 56, 56);
  display: flex;
  align-items: center;
  justify-content: center;
}

.header_container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 15px;
  margin-right: 25px;
  gap: 10px;
  max-width: var(--max_width_home);
  width: 100%;
}

.logo {
  cursor: pointer;
}

.heart_container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.heart_container span {
  margin-left: 8px;
  color: var(--primary);
  font-size: 16px;
  font-weight: 500;
}

.heart_icon {
  cursor: pointer;
}

@media (min-width: 860px) {
  .header_container {
    margin-left: 45px;
    margin-right: 45px;
  }
}
