/* Color Variables */
:root {
  --primary: white;
  --secondary: black;
  --tertiary: #ec1d24;
  --quaternary: rgb(221, 221, 221);
}

/* Layout Variables */
:root {
  --max_width_home: 1430px;
  --max_width_details: 1000px;
}

html,
body {
  max-width: 100vw;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
