.main {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-bottom: 16px;
}

.character_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background: var(--secondary);
  clip-path: polygon(
    0 0,
    100% 0,
    100% calc(100% - 25px),
    calc(100% - 25px) 100%,
    0 100%
  );
}

.character_info_container {
  width: 100%;
  max-width: var(--max_width_details);
  display: flex;
  flex-direction: column;
}

.character_image {
  width: 100%;
  height: 395px;
  object-fit: cover;
}

.character_info {
  display: flex;
  flex-direction: column;
  padding-inline: 16px;
  padding-bottom: 35px;
  padding-top: 4.5px;
}

.character_title_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
  margin-bottom: 23px;
}

.heart_icon {
  cursor: pointer;
}

.character_title_container h1 {
  font-size: 31px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  color: var(--primary);
  margin: 0;
}

.character_info p {
  color: var(--primary);
  margin: 0;
}

.character_info p {
  font-size: 15px;
  font-weight: 300;
  letter-spacing: 0.6px;
}

.comics_container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.comics_section {
  margin-top: 5px;
  width: 100%;
  max-width: var(--max_width_details);
  padding-inline: 16px;
  box-sizing: border-box;
}

.comics_grid {
  display: flex;
  gap: 16px;
  overflow-x: auto;
}

.comics_grid::-webkit-scrollbar {
  height: 4px;
}

.comics_grid::-webkit-scrollbar-track {
  background: var(--quaternary);
}

.comics_grid::-webkit-scrollbar-thumb {
  background: var(--tertiary);
  cursor: pointer;
}

@media (min-width: 768px) {
  .character_info_container {
    flex-direction: row;
    box-sizing: border-box;
    padding-inline: 16px;
  }

  .character_title_container h1 {
    font-size: 37px;
  }

  .character_image {
    width: 50%;
    max-width: 295px;
    height: 295px;
  }

  .character_info {
    width: 100%;
    margin-left: 30px;
    margin-top: 50px;
  }

  .character_info p {
    display: -webkit-box;
    line-clamp: 6;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
    overflow: hidden;
    word-break: break-word;
  }

  .comics_section h2 {
    font-size: 32px;
  }
}
