.main {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  padding-top: 37px;
  padding-inline: 16px;
  padding-bottom: 16px;
}

.main_container {
  max-width: var(--max_width_home);
  width: 100%;
  margin: 0 auto;
}

.search_container {
  display: flex;
  flex-direction: column;
  gap: 13px;
}

.search_container span {
  font-size: 11px;
}

.search_bar {
  position: relative;
}

.search_icon {
  position: absolute;
  top: 40%;
  left: 0;
  transform: translateY(-50%);
}

.search_bar input {
  width: 100%;
  padding-left: 25px;
  padding-bottom: 8px;
  border: none;
  border-bottom: 1px solid var(--secondary);
  font-size: 14px;
  box-sizing: border-box;
  outline: none;
}

.results_container {
  margin-top: 35px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
}

@media (min-width: 860px) {
  .main {
    padding-inline: 45px;
    padding-bottom: 45px;
  }
}

@media (min-width: 600px) {
  .results_container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 750px) {
  .results_container {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 980px) {
  .results_container {
    grid-template-columns: repeat(5, 1fr);
  }
}

@media (min-width: 1200px) {
  .results_container {
    grid-template-columns: repeat(6, 1fr);
  }
}

@media (min-width: 1400px) {
  .results_container {
    grid-template-columns: repeat(7, 1fr);
  }
}

/** HomePageFavs **/
.main_favs {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  padding-inline: 16px;
  padding-bottom: 16px;
}

.search_container_favs {
  display: flex;
  flex-direction: column;
  gap: 13px;
  padding-top: 22px;
}

.search_container_favs span {
  font-size: 11px;
}

@media (min-width: 860px) {
  .main_favs {
    padding-inline: 45px;
    padding-bottom: 45px;
  }
}
